@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

$thinRed-color: rgb(252, 228, 214);
$thinYellow-color: rgb(255, 242, 204);
$thinGreen-color: rgb(226, 239, 218);
$thinBlue-color: rgb(221, 235, 247);
$white-color: #fff;
$button-radius: 5px;

.binDayCells {
    display: contents;
    
    .dayCells {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        height: 100%;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        
        .label {
            text-align: center;
            margin: 1px 0 0 0;
            font-size: 10px;
            line-height: 1;
            white-space: pre-line;
            word-break: normal;
            overflow-wrap: anywhere;
        }

        .label::before {
            content: attr(data-text);
            display: inline-block;
            white-space: pre-line;
        }
        
        .count {
            color:  black;
            display: flex;
            font-size: 32px;
            min-height: 1rem;
            line-height: 0.6;
            -webkit-text-stroke: 4px #7DF9FF;
            paint-order: stroke;
        }

        .checkboxLabel {
            display: flex;
            align-items: center;
            font-size: 10px;
            
            input[type='checkbox'] {
                transform: scale(0.8);
                margin: 0;
                accent-color: #007bff;
            }
            
            &:hover {
                cursor: pointer;
            }

            .checkboxLabelText {
                transform: translateY(1px);
            }
        }
        
        &.alert {
            background: linear-gradient(to top, red, transparent);
        }
    }

    /* 今日の数量表示 */
    .todayCells {
        background-color: $thinYellow-color;
        
        &.highlight-red {
            background-color: $thinRed-color;
        }
        
        &.highlight-green {
            background-color: $thinGreen-color;
        }

        &.highlight-blue {
            background-color: $thinBlue-color;
        }
        
        &.highlight-white {
            background-color: $white-color;
        }
    }

    /* 明日の数量表示 */
    .nextDayCells {
        background-color: $white-color;
    }

    /* 上下のカウントボタン */
    .controlButtonCells {
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        width: 20px;
    }

    .countUpButton,
    .countDownButton {
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: $button-radius;
        color: white;
        transition: background-color 0.2s;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
            opacity: 0.6;

            &:hover {
                background-color: #ccc;
            }
        }
    }

    .countUpButton {
        padding: 12px 4px;
        background-color: #007bff;
        
        &:hover {
            background-color: #0056b3;
        }
    }

    .countDownButton {
        padding: 3px 4px;
        background-color: #dc3546;
        
        &:hover {
            background-color: #a71d2a;
        }
    }

    // <weight>: Use a value from 100 to 900
    .noto-sans-jp {
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }

    // <weight>: Use a value from 200 to 900
    .noto-serif-jp {
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
}