@import '../../../../data/scssFunctionFile/scssFunction.scss';

.structuredForm {
  display: flex;
  flex-direction: column;
  height: 70%;

  .customerRow{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:8px;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding-right: 4px;
    scroll-behavior: smooth;
  }

  .btnRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

    .blockControl {
      display: flex;
      gap: 10px
    }
    
    .formBtns {
      display: flex;
      gap: 10px;
    }
  }

  button {
    background-color: $btndefault-color;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: $btnhover-color;
    }
  }
}
