@import '../../../../data/scssFunctionFile/scssFunction.scss';

.userControle {
    
    .btn {
        border-radius: 4px;
        padding: 4px 10px;
        background-color: $btndefault-color;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        z-index: 10;

        &:hover {
            background-color: $btnhover-color;
        }
    }
    
    .resetAllAlertsButton,
    .prepareNextDay {
        position: absolute;
        right: 30px;
    }

    .resetAllAlertsButton {
        bottom:45px;
        
        &:hover {
            background-color: #facc15;
        }
    }
    
    .prepareNextDay {
        bottom: 10px;
        
        &:hover {
            background-color: red;
        }    
    }
}