$headerHeight: 50px;

$binBlockHight: 10px;
$binBlockWidth: 240px;
$binBlockTitleWidth: 50px; 

$thinRed-color: rgb(252, 228, 214);
$thinYellow-color: rgb(255, 242, 204);
$thinGreen-color: rgb(226, 239, 218);
$thinBlue-color: rgb(221, 235, 247);

$btndefault-color: rgb(220, 220, 220);
$btnhover-color: rgb(200, 200, 200);

$bluebtn-color: #007bff;
$bluebtnhover-color: #0056b3;

$hoverTextcolor: #fff;
$hovergreen:rgb(30, 230, 40); 
$bluemarker: linear-gradient(transparent 80%, rgba(0, 0, 255, 0.6) 80%);
$redmarker: linear-gradient(transparent 80%, rgba(255, 0, 0, 0.6) 80%);

$areaAlertGreen: #28a745;
$areaAlertYellow: #ffc107;
$yellowAlertText: #333;
$areaAlertRed: #dc3545;