.memoTextarea {
    position: absolute;
    top: 48px;
    left: 230px;
    width: 250px;
    height: 50px;
    font-size: 14px;
    box-sizing: border-box;
    transition: width 0.5s ease, height 0.5s ease;
    z-index: 10;
}