$binBlockHight: 60px;

.shipmentTable {

    .binGrid {
        position: relative;
        display: flex;
        display: flex;
        gap: 3px;
        padding: 15px;
        justify-content: start;
        align-items: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: fit-content;
        zoom: 0.7;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        .binColumn {
            display: flex;
            flex-direction: column;
            gap: 3px;
            
            &.column-lifted {
                transform: translateY($binBlockHight*1.24);
            }
            
            
        }
    }
    
    
    .todayBinGrid {
        transform: translateY(-30px);
        .pmBinGrid {
            padding: 5px 15px;
        }

        .amBinGrid {
            position: relative;
            padding: 5px 15px;
            border-top: 2px dashed #000;
        }
    }
}