$binBlockHight: 60px;
$border-color: 1px solid rgb(200, 200, 200);
$block-radius: 10px;
$button-radius: 4px;

.binGrid {
    display: flex;
    gap: 4px;
    padding: 20px;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: visible;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    
    .binColumn {
        display: flex;
        flex-direction: column;
        gap: 4px;
        
        &.column-lifted {
            transform: translateY($binBlockHight*1.12);
        }

        .binBlock {
            display: grid;
            grid-template-columns: auto 1fr auto 1fr auto;
            gap: 0;
            align-items: center;
            background-color: #fff;
            border: $border-color;
            border-radius: 
                $block-radius 
                $button-radius*1.2 
                $button-radius*1.2 
                $block-radius;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            height: $binBlockHight;
            width: 240px;
            padding-bottom: 1px;
            
            /* 左側: bin名 */
            .binName {
                display: flex;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 28px;
                border-radius: $block-radius/1.1 0 0 $block-radius/1.1;
                border-right: $border-color;
                
                &.highlight-red {
                    background-color: rgb(255, 199, 206);
                }

                &.highlight-blue {
                    background-color: rgb(221, 235, 247);
                }
            }
    
            .dayCells {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                height: 100%;
                overflow: hidden;
                box-sizing: border-box;

                .label {
                    margin: -1px 0 0 0;
                    font-size: 10px;
                }

                .count {
                    font-size: 30px;
                    min-height: 1rem;
                    line-height: 1;
                }

                .checkboxLabel {
                    display: flex;
                    align-items: center;
                    font-size: 8px;
                    margin: 0;

                    input[type="checkbox"] {
                        transform: scale(0.9);
                        margin: 0;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                &.alert {
                    background: linear-gradient(to top, red, transparent);
                }
            }

            /* 今日の数量表示 */
            .todayCells {
                background-color: rgb(255, 255, 153);
                
                &.highlight-red {
                    background-color: rgb(255, 199, 206);
                }

                &.highlight-blue {
                    background-color: rgb(221, 235, 247);
                }
                
                &.highlight-white {
                    background-color: #fff;
                }
            }
            
            /* 明日の数量表示 */
            .nextDayCells {
                background-color: #fff;
            }
            
            /* 上下のカウントボタン */
            .controlButtonCells {
                display: flex;
                flex-direction: column;
                gap: 1px;
                align-items: center;
            }
            
            .countUpButton,
            .countDownButton {
                font-size: 16px;
                cursor: pointer;
                border: none;
                border-radius: $button-radius;
                color: white;
                transition: background-color 0.2s;
            }
            
            .countUpButton {
                padding: 10px 6px;
                background-color: #007bff;
                
                &:hover {
                    background-color: #0056b3;
                }
            }
            
            .countDownButton {
                padding: 2px 6px;
                background-color: #dc3545;

                &:hover {
                    background-color: #a71d2a;
                }
            }
        }
    }
}