@import '../../../../../data/scssFunctionFile/scssFunction.scss';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $modalOverlay; // 薄暗い背景
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}