@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

$binBlockHight: 68px;
$border-color: 1px solid rgb(200, 200, 200);
$thinRed-color: rgb(252, 228, 214);
$thinYellow-color: rgb(255, 242, 204);
$thinGreen-color: rgb(226, 239, 218);
$thinBlue-color: rgb(221, 235, 247);
$block-radius: 8px;
$button-radius: 5px;

.binBlock {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    gap: 0;
    align-items: stretch;
    background-color: #fff;
    border: $border-color;
    border-radius: 
    $block-radius 
    $button-radius*1.2 
    $button-radius*1.2 
    $block-radius;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    height: $binBlockHight;
    width: 220px;
    
    /* 左側: bin名 */
    .binName {
        display: flex;
        font-size: 24px;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        white-space: normal;
        border-radius: $block-radius/1.2 0 0 $block-radius/1.2;
        border-right: $border-color;
        user-select: none;
        cursor: default;

        &.highlight-red.alert-white {
            background-color: $thinRed-color;
        }
        &.highlight-green.alert-white {
            background-color: $thinGreen-color;
        }
        &.highlight-blue.alert-white {
            background-color: $thinBlue-color;
        }

        &.highlight-red:not([class*='alert-']) {
            background-color: $thinRed-color;
        }
        &.highlight-green:not([class*='alert-']) {
            background-color: $thinGreen-color;
        }
        &.highlight-blue:not([class*='alert-']) {
            background-color: $thinBlue-color;
        }

        &.alert-white {
            background-color: white;
        }
        &.alert-yellow {
            background-color: rgb(252, 192, 0);
        }
        &.alert-red {
            background-color: red;
        }

    }

    // <weight>: Use a value from 100 to 900
    .noto-sans-jp {
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }

    // <weight>: Use a value from 200 to 900
    .noto-serif-jp {
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
}