@import '../../../../data/scssFunctionFile/scssFunction.scss';
$iconColor: #333;

.hamburgerMenu {
  position: absolute;
  top: 17px;
  right: 10px;

  // ハンバーガーボタンのスタイル
  .hamburgerIcon {
    position: absolute;
    top: -4px;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 99;
    
    // ハンバーガーボタンのバーのスタイル
    .bar {
      position: relative;
      width: 100%;
      height: 4px;
      background-color: $iconColor;
      transition: all 0.3s ease;
    }
    
    .menuText {
      position: relative;
      margin: 0 auto;
      font-size: 0.5rem;
      font-weight: 600;
      color: $iconColor;
      transition: all 0.3s ease;
      text-transform: uppercase;
    }
  
    // ハンバーガーアイコンが開いたときのスタイル
    &.open {
      .bar:first-child {
        transform: rotate(45deg) translateX(5.3px) translateY(5.3px);
      }
      .bar:last-child {
        transform: rotate(-45deg) translateX(5.3px) translateY(-5.3px);
      }
    }
  }
  
  // メニューのスタイル
  .menu {
    background-color: #fff;
    border: 1px solid #ccc;
    position: fixed;
    top: $headerHeight;
    right: 0;
    min-height: 400px;
    height: calc(100vh - $headerHeight);
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    transform: translateX(100%);
    transition: transform .4s ease;
    z-index: 80;
    overflow: auto;
    
    // メニューが開いたときのスタイル
    &.open {
      transform: translateX(0%);
    }
    
    // メニューのリストアイテムのスタイル      
    .userControle {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      list-style-type: none;
      align-items: center;
      margin: 0;
      padding: 0;
      
      li {
        padding: 20px 0;
        font-size: 250%;
        font-weight: 700;
        cursor: pointer;
        justify-content: center;

        .hamMenubtn {
          font-size: 24px;
          padding: 10px; 
          width: 200px;
          
          &.active {
            background-color: #007bff;
            color: #fff;
          }
          
          
          &:hover {
            color: rgb(30, 230, 40);
            transition: all 0.2s;
          }
        }
      }
    }
  }
  
  .overlay {

    .memoAreaContent {
      position: relative;
      width: 80%;
      max-width: 800px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      z-index: 210;

      .memoAreaTitle {
        font-size: 24px;
        margin: 0;
        padding: 0;
      }
  
      // ↓ここで memoTextarea を上書き
      .memoTextarea {
        position: relative !important;
        width: 100% !important;
        height: 300px !important;
        left: 0 !important;
        top: 0 !important;
        font-size: 18px !important;
        background-color: white !important;
        margin-top: 10px;
        z-index: 220;
      }
  
      .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 28px;
        width: 28px;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        line-height: 1;
        background-color: red;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;

        &:hover {
          background-color: #dc2626;
        }
      }
    }
  }
}