@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Serif+JP:wght@200..900&display=swap');
@import '../../../data/scssFunctionFile/scssFunction.scss';

.todayLabel {
    display: inline-block;
    position: absolute;
    top: $headerHeight + 20px;
    left: 0;
    height: 32px;
    z-index: 10;

    .todayDate,
    .daysText {
        position: relative;
        font-size: 24px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        padding: 5;
        margin: 0 10px;
        z-index: 10;
    }

    .todayDate {
        padding: 5px;
        flex-direction: row;
        gap: 0;
        margin: 0 10px;
        
        .yearInput,
        .monthInput,
        .dayInput {
            appearance: none;
            border: 0;
            background: transparent;
            color: #000;
            font-size: 24px;
            padding: 0 1px;
            pointer-events: auto;
            user-select: text;
            opacity: 1;
            height: 32px;
            line-height: 32px;

            &::placeholder {
                line-height: normal;
            }
        }
        
        .yearInput {
            width: 60px;

            &::placeholder {
                font-size: 18px;
            }
        }

        .yearInput,
        .monthInput {
            margin-right: 16px;
        }

        .monthInput,
        .dayInput {
            width: 30px;

            &::placeholder {
                font-size: 12px;
            }
        }
    }
    
    .daysText {
        cursor: pointer;
        padding: 5px;
        font-size: 24px;

    }
    
    .disabled {
        pointer-events: none;
        user-select: none;
    }

    .noto-serif-jp {
        font-family: "Noto Serif JP", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }
}
