@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import '../../data/scssFunctionFile/scssFunction.scss';

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    transform: translateY(-60px);

    .titleContainer {
        position: relative;
        text-align: center;
        margin: 0 0 40px 0;
    }
    
    .title {
        font-size: 80px;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        margin: 0;
    }

    .subTitle {
        position: absolute;
        top: 100px;
        left: 60px;
        font-size: 18px;
        margin: 0;
    }

    .inputForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $loginBlockColor;
        border-radius: 18px;
        padding: 20px 30px;

        .inputLabel {
            width: 100%;
            align-self: flex-start;
            text-align: left;
            
            p {
                color: #fff;
                margin: 0;
            }
        }

        .inputID,
        .inputPW {
            max-width: 600px;
            margin: 10px 0;
            font-size: 18px;
        }

        .submitButton {
            background-color: #fff;
            width: 100px;
            height: 30px;        
            border-radius: 12px;
            font-size: 18px;
            
            &:hover {
                background-color: greenyellow;
                cursor: pointer;
            }
        }
    }
}