@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 50px;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    .inputForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 174, 255);
        border-radius: 18px;
        padding: 20px 30px;

        .inputID,
        .inputPW {
            max-width: 600px;
            margin: 10px 0;
            font-size: 18px;
        }

        .submitButton {
            background-color: #fff;
            width: 100px;
            height: 30px;        
            border-radius: 12px;
            font-size: 18px;
            
            &:hover {
                background-color: greenyellow;
            }
        }
    }
}