.catButton {
    background: none;
    border: none;
    padding: 0;
    
    .yarnCat {
        position: absolute;
        top: 230px;
        left: 780px;
        height: 60px;
        cursor: grab;
        user-select: none;
        -webkit-user-drag: none;

        &:active {
            cursor: grabbing;
        }
    }
}