@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import '../../../data/scssFunctionFile/scssFunction.scss';

$buttonhightpadding: 4px 0;

.header {
    position: relative;
    width: 650px;
    height: 40px;
    
    .title {
        position: relative;
        font-size: 20px;
        padding: 10px 20px;
        margin: 0;
        top: 8px;
        text-align: left;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }
    
    .userInfo {
        position: absolute;
        top: 18px;
        left: 210px;
        color: #333;

        .welcomeText {
            font-size: 12px;
            
            .userName {
                font-size: 1.2rem;
            }
        }
    }

    .ButtonsWrapper {
        position: absolute;
        top: 5px;
        right: 40px;
        display: flex;
        justify-content: flex-end;
        margin: 8px 10px;
        gap: 8px;
        
        .addCountButton {
            background-color: $bluebtn-color;
            color: white;
            border: none;
            padding: $buttonhightpadding;
            border-radius: 4px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            transition: background-color 0.2s ease;
            width: 100px;
            
            &:hover {
                background-color: $bluebtnhover-color;
            }
            
            &.addCounting {
                background-color: rgb(62, 233, 76);
            }
        }
        
        .reloadButton {
            background-color: $bluebtn-color;
            color: white;
            border: none;
            padding: $buttonhightpadding;
            border-radius: 4px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            transition: background-color 0.2s ease;
            width: 80px;
            
            &:hover {
                background-color: $bluebtnhover-color;
            }
        }
    }
}